
<h1 class="ui header" >User Stories</h1>

<table class='ui orange table'>
  <thead>
    <tr>
      <th>Description</th>
      <th>Business value</th>
      <th>Status</th>
      <th>Story points</th>
      <th>Theme</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_stories.each do |user_story| %>
      <tr>
        <td><%= user_story.description %></td>
        <td><%= user_story.business_value %></td>
        <td><%= user_story.status %></td>
        <td><%= user_story.story_points %></td>
        <td><%= user_story.theme %></td>
        <td><%= link_to 'Detalhes', user_story, class: 'ui tiny blue basic button' %></td>
        <td><%= link_to 'Editar', edit_user_story_path(user_story), class: 'ui tiny blue basic button' %></td>
        <td><%= link_to 'Excluir', user_story, method: :delete, data: { confirm: 'Você tem certeza disso?' }, class: 'ui tiny red basic button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova User Story', new_user_story_path, class: 'ui teal button' %>
