<div class='ui padded center aligned teal segment show'>
    <p>
    <strong>Descrição:</strong>
    <%= @user_story.description %>
  </p>

    <p>
    <strong>Valor de negócio:</strong>
    <%= @user_story.business_value %>
  </p>

    <p>
    <strong>Status:</strong>
    <%= @user_story.status %>
  </p>

    <p>
    <strong>Story points:</strong>
    <%= @user_story.story_points %>
  </p>

  <%= link_to 'Editar', edit_project_theme_user_story_path(@project, @theme, @user_story), class: 'ui button' %>
  <%= link_to 'Voltar', [@project, @theme], class: 'ui button' %>
</div>

<%= render 'user_story_acceptance_criterions/index' %>
