
<h1 class="ui header" >Functions</h1>

<table class='ui orange table'>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @functions.each do |function| %>
      <tr>
        <td><%= function.name %></td>
        <td><%= link_to 'Detalhes', function, class: 'ui tiny blue basic button' %></td>
        <td><%= link_to 'Editar', edit_function_path(function), class: 'ui tiny blue basic button' %></td>
        <td><%= link_to 'Excluir', function, method: :delete, data: { confirm: 'Você tem certeza disso?' }, class: 'ui tiny red basic button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Function', new_function_path, class: 'ui teal button' %>
