
<div class="ui form">
  <h4 class="ui dividing header">Informações</h4>
  <%= form_for(project) do |f| %>
    <% if project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :size, id: 'project_label_size' %>
        <%= f.range_field :size, :in => 0..10000, :step => '.1' %>
      </div>



        <div class="field">
          <%= f.label :start_date %>
          <%= f.date_select :start_date %>
        </div>

      <div class="field">
        <%= f.label :end_date %>
        <%= f.date_select :end_date, {:class => "input-mini"} %>
      </div>

      <div class="field">
        <%= f.label :local_id %>
        <%= f.collection_select(:local_id, Local.all, :id, :name, {:prompt=>true}, {:class=>'ui search dropdown'}) %>
      </div>

      <div class="actions">
      <%= f.submit class:'ui teal button' %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(".form").change(function() {
    input = $("#project_size").val();
    label = $("#project_label_size");
    label.text("Tamanho " + input);
    console.log("Current Value = " + input);
  })
</script>
