<div class="ui form">
  <h4 class="ui dividing header">Informações</h4>
  <%= form_for(function_user_project) do |f| %>
    <% if function_user_project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(function_user_project.errors.count, "error") %> prohibited this function_user_project from being saved:</h2>

        <ul>
        <% function_user_project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <%= f.hidden_field :project_id, value: params['project'] %>

      <div class="field">
        <%= f.label :function_id %>
        <%= f.collection_select(:function_id, Function.all, :id, :name, {:prompt=>true}, {:class=>'ui search dropdown'}) %>
      </div>

      <div class="field">
        <%= f.label :user_id %>
        <% if params['project'] %>
          <% project = params['project'] %>
          <%= f.collection_select(:user_id, FunctionUserProject.available_user_for(project), :id, :name, {:prompt=>true}, {:class=>'ui search dropdown'}) %>
        <% else %>
          <% project = @function_user_project.project_id %>
          <%= f.collection_select(:user_id, FunctionUserProject.available_user_for(project), :id, :name, {:prompt=>true}, {:class=>'ui search dropdown'}) %>
        <% end %>
      </div>

      <div class="actions">
      <%= f.submit class:'ui teal button' %>
    </div>
  <% end %>
</div>
